/problematicas/problema1/nbproject/private/
/problematicas/problema1/build/
/problematicas/problema2/nbproject/private/
/problematicas/problema5/nbproject/private/
/problematicas/problema5/build/
/problematicas/problema2/build/
/problematicas/problema3/nbproject/private/
/problematicas/problema3/build/
/problematicas/problema4/nbproject/private/
/problematicas/problema4/build/
